<%= form_for(@vehicule) do |f| %>
  <% if @vehicule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicule.errors.count, "error") %> prohibited this vehicule from being saved:</h2>

      <ul>
      <% @vehicule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plaque %><br />
    <%= f.text_field :plaque %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
