
%h5 Liste des livraisons
%br
%br
%p DATE COURANTE:
= Time.now

%table
  %tr
    %th
      %h2 Date
    %th
      %h2 Adresse
    %th
      %h2 clé
    %th
      %h2 Vehicule
    %th
      %h2 Date de creation

  - @livraisons.each do |livraison|
    %tr
      %td
        = livraison.date
      %td
        = livraison.adresse
      %td
        = livraison.id
      %td
        = livraison.vehicule_id
      %td
        = livraison.created_at
      %td
        .btn.btn-small.btn-success
          = link_to 'Voir', livraison
      %td
        .btn.btn-small.btn-success
          = link_to 'Modifier', edit_livraison_path(livraison)
      %td
        .btn.btn-small.btn-success
          = link_to 'Supprimer', livraison, method: :delete, data: { confirm: 'Etes-vous sur de vouloir supprimer la livraison ?' }

%br

.btn.btn-info.btn-success
  = link_to 'Nouvelle Livraison', new_livraison_path
.btn.btn-info.btn-success
  = link_to 'retour', :back
.btn.btn-info.btn-success
  = link_to 'Liste des véhicules', vehicules_path


%br
%br
%br
.btn.btn-large.btn-success
  =link_to "page d'accueil",  root_path

=image_tag("iamge2.jpg", :alt => "Une image")

